html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  color: var(--color5);
  /* height: 100vh; */
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: nowrap; */
  /* background-color: var(--color4); */
  max-width: 40rem;
  margin: 20vh auto;
  /* background: url(../img/martfury-slide.jpg); */
}

nav {
  margin: 5rem 0;
}
